@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: " ";
	border-bottom: 0.5rem solid #00C851;
    z-index: 9999;
}

/* global styles */

.show {
    display: block !important;
}

.hide {
    display: none;
}

.js-modal {
    z-index: 9999;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav {
    margin-top: 0.5rem;
    background: #202020;
    height: 5.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__menu {
    /* align-items: center; */
    display: flex;
}

.nav__item {
    text-decoration: none;
    color: #eee;
    font-family: Oswald, sans-serif;
}

.nav__header {
    letter-spacing: 1.2px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    justify-content: center;
}

.search {
    /* max-width: 1140px; */
    margin: 0 auto;
    background: #202020;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
}

.search__container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.search-form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration-color: #eee
}

.search-form__query {
    width: 20rem;
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
    font-family: 'Oswald', sans-serif;
    caret-color: #00C851;
    text-decoration-color: #eee
}

.search-form__query:focus {
    outline: none;
    color: #eee;
}

.search-form__icon {
    background-color: #00C851;
    font-size: 2rem;
    padding: 1rem;
}

.search-form__icon > .fa-search {
    color: white;
}

.main {
    background: #202020;
    /* fallback for old browsers */
	/*     background-image: url('./clock-pattern.png'); */
}

.result {
    background-image: linear-gradient(#1E1E1E 0%, #000 100%);
    height: auto;
}

.movies {
    padding: 3rem 0;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.movies__item {
    width: 33.33333%;
    border-radius: 4px;
    position: relative;
}

.movies__item-title {
    z-index: 11000;
    font-size: 1rem;
    font-family: Oswald, sans-serif;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30%;
    color: white;
}

.movies__item-image {
    transition: all 0.2s ease;
	width: 100%;
    height: 45vw;
    max-height: 35.626rem;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
}

.movies__item-star {
    z-index: 9998;
    color: #00C851;
    top: 10%;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.movies__item-details-button {
    z-index: 9998;
    padding: 0 0.2rem;
    background: #333;
    position: absolute;
    outline: none;
    border: 0;
    top: 2rem;
    border-radius: 50%;
    right: 1rem;
}

.movies__item-details-button:hover {
	cursor: pointer;
    transform: scale(1.3);
}

.movies__item-details {
    font-size: 1.4rem;
    color: #00C851;
}

.movies__item-rating {
    z-index: 9998;
    font-size: 3rem;
    font-family: Oswald, sans-serif;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    color: white;
}

.movies__item-expander {
    font-weight: bold;
    font-size: 1rem;
	text-decoration: none;
    text-align: center;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
	bottom: 10%;
    z-index: 9998;
    background-color: #00C851;
    padding: 1rem 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.movies__item-expander:hover {
	background: #00C851;
    cursor: pointer;
}

.footer {
    background-color: #282A3A !important;
    display: flex;
}

.footer__text {
    color: #00C851 !important;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Open sans', sans-serif;
}

@media only screen and (max-width: 1224px) {
    html {
        font-size: 16px;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .movies__item {
        width: 50%;
    }

    .movies__item-image {
        height: 60vw;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    .movies__item-image {
        height: 100vw;
    }

    .movies__item {
        width: 100%;
    }
}

.details {
    padding: 3rem 0;
    border-radius: 4px;
    flex-wrap: wrap;
    min-height: 90vh;
    z-index: 10;

    display: grid;
    grid-template-columns: 300px 900px;
    grid-template-areas: "sidebar content";

    justify-content: center;
}

.details__image {
    width: 300px;
    height: 450px;
}

.details__title {
    font-size: 3rem;
    font-family: Oswald, sans-serif;
    color: white;
    margin-top: 0rem;
}

.details__year {
    font-size: 3rem;
    font-family: Oswald, sans-serif;
    color: limegreen;
    margin-left: 3rem;
    margin-top: 0rem;
}

.details__content {
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
    color: white;
}

.details__content-header {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    color: limegreen;
    margin-left: 0rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.credits {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 50px;
    grid-template-areas: "credit-list credit-list";
    justify-content: center;
}